@media (max-width: 1600px) {
    .question-text h1 {
        margin: 0 0 61px;
    }
    .stay-touch-part h5 {
        top: 64px;
        margin-left: 16px;
    }
    .home-page {
        background-size: 100% 100%;
    }
}

@media (max-width: 1440px) {
    .welcome-section.gauratee-section .welcome-text {
        transform: translate(5px, 55px);
    }
    .welcome-text.maritime-text {
        transform: translate(-127px, 81px);
    }
}

@media (max-width: 1366px) {
    .mainorder-detail-sec.refund-report.section .Custom_filter {
        flex: 0 0 84%;
        max-width: 84%;
    }
    .mini-root-div {
        right: 3px;
    }
    .silck-slide-home .slick-slider.slick-initialized {
        width: 1166px;
        margin: 0 auto 0 43px;
    }
    .home-page .container {
        width: 1360px !important;
    }
    .welcome-text.maritime-text {
        transform: translate(-150px, 43px);
    }
    div#media {
        width: 1335px !important;
    }

    .welcome-section.gauratee-section .welcome-text {
        transform: translate(2px, 55px);
    }
    .mainorder-detail-sec.commision-now .Custom_filter,
    .mainorder-detail-sec.refund-report.section .Custom_filter {
        flex: 0 0 76%;
        max-width: 76%;
    }
    .mainorder-detail-sec.commision-now .Custom_filter {
        max-width: 84%;
        flex: 0 0 84%;
    }
    .details_price {
        padding-right: 90px;
        text-align: right;
    }
    .mainorder-detail-sec.dashboad-deails .Custom_filter {
        flex: 0 0 80%;
        max-width: 80%;
    }
    .commission-table tbody tr td,
    .commission-table thead th {
        border: 1px solid #ddd;
        padding: 2px;
    }

    .Custom_filter {
        display: flex;
        flex: 0 0 85%;
        max-width: 85%;
    }

    .left-commison-sec {
        max-width: 76%;
        flex: 0 0 76%;
    }
    .left-data-dashboard {
        max-width: 90%;
        flex: 0 0 90%;
    }
}

/* media responsive css */
@media (max-width: 1800px) {
    .home-page .container {
        width: 1440px !important;
    }
    .welcome-text {
        background: #fff;
        padding: 39px 79px 49px 59px;
        width: 452px;
        transform: translate(0, -86px);
    }
    .text-welcome h2 {
        margin: -16px 0 0;
    }
    .welcome-text.maritime-text {
        padding: 13px 26px;
        width: 620px;
        transform: translate(-113px, 57px);
    }
    .par-text {
        width: 1234px;
        margin: 91px auto 24px;
    }
    .welcome-text.maritime-text h4 {
        font-size: 40px;
        color: #000;
        font-weight: 600;
        margin-bottom: 0px;
        width: 319px;
        margin: 7px auto;
    }
    .welcome-text.maritime-text p {
        font-size: 17px;
        padding-top: 10px;
        width: 516px;
        margin: 0 auto;
    }
    .product-main1 img {
        width: 239px;
    }
    .lean-main {
        text-align: center;
        margin-top: -27px;
    }
    .welcome-text.maritime-text {
        padding: 13px 26px;
        width: 570px;
        transform: translate(-113px, 81px);
    }

    div#media {
        width: 1470px !important;
        margin: 0 auto;
        padding: 0 15px;
    }
    .btn-shop-all {
        margin-top: 37px;
    }
    .welcome-section.gauratee-section {
        padding: 132px 0 5px;
    }
    .welcome-section.gauratee-section .welcome-text {
        padding: 11px 16px 22px 16px;
        width: 468px;
    }
    .welcome-section.gauratee-section p {
        width: 385px;
        margin: 0 auto;
    }
    .welcome-section.gauratee-section .welcome-text {
        padding: 17px 22px 30px 22px;
        width: 468px;
    }
    .welcome-section.gauratee-section .welcome-text {
        padding: 17px 22px 30px 22px;
        width: 468px;
        transform: translate(32px, 55px);
    }
    .welcome-section.gauratee-section .welcome-text p {
        font-size: 15px;
        color: #000;
        font-weight: 600;
    }
    .welcome-section.gauratee-section p {
        width: 348px;
        margin: 0 auto;
    }
    .welcome-section.gauratee-section .welcome-text {
        padding: 5px 10px 20px 10px;
        width: 380px;
        transform: translate(32px, 55px);
    }
    .question-text h1 {
        font-size: 70px;
    }
    .welcome-section.gauratee-section {
        padding: 92px 0 5px;
    }
    .stay-touch-part h5 {
        font-weight: 300 !important;
        position: absolute;
        top: 145px;
        margin-left: -15px;
        font-size: 20px;
    }
    .form-subscribe label {
        font-size: 76px;
        font-weight: 800;
    }
    .form-subscribe {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }
    .stay-touch-part h5 {
        top: 145px;
        margin-left: 16px;
    }
    .form-subscribe .btn {
        margin-left: -20px;
    }
    .stay-touch-part h5 {
        font-size: 24px;
    }
    .question-text {
        margin-bottom: 31px;
    }
    .product-main h5 {
        font-size: 24px;
        font-weight: 600;
        margin: 9px 0 10px;
    }
    .slick-slide {
        padding: 0 20px;
    }
    .product-main {
        margin: 0 20px;
    }
    div#media {
        width: 1380px !important;
        margin: 0;
        padding: 0;
    }
    .button_pre {
        position: absolute;
        top: 40%;
        background: #06356a;
        z-index: 999;
        border-radius: 4px;
        color: #fff;
        font-size: 28px;
        left: 0%;
    }
    .button_next {
        position: absolute;
        top: 40%;
        background: #06356a;
        z-index: 999;
        border-radius: 4px;
        color: #fff;
        font-size: 28px;
        right: 0%;
    }
    .silck-slide-home .slick-slider.slick-initialized {
        width: 1212px;
        margin: 0 auto 0 68px;
        justify-content: center;
    }
    .product-main h5 {
        font-size: 15px;
        font-weight: 600;
        margin: 9px 0 10px;
    }
    .carousel img {
        width: 200px !important;
        display: inline-block !important;
        pointer-events: none;
        height: 200px !important;
        object-fit: cover !important;
    }
    .mainorder-detail-sec.commision-now .Custom_filter {
        max-width: 86%;
        flex: 0 0 86%;
    }
}
@media (max-width: 1600px) {
    .leftsec {
        width: 226px;
    }
    .DownlineStatic {
        width: 226px;
    }
    .question-text h1 {
        margin: 0 0 61px;
    }
    .stay-touch-part h5 {
        top: 64px;
        margin-left: 16px;
    }
    .home-page {
        background-size: 100% 100%;
    }
}
@media (max-width: 1550px) {
    .Cart_product.order-detail-sec table {
        border: 1px solid #ddd;
        width: 100%;
    }
}
@media (max-width: 1280px) {
    .col-md-9.dashboard-main .title + .signupform.main-sign-frm button {
        padding: 8px 6px;
        font-size: 11px;
    }
    .details_price {
        padding-right: 78px;
        text-align: right;
    }
    .home-page .container {
        width: 1239px !important;
    }
    div#media {
        width: 1239px !important;
    }
    .silck-slide-home .slick-slider.slick-initialized {
        width: 1106px;
    }
    .text-welcome h2 {
        font-size: 40px;
    }
    .welcome-text.maritime-text {
        transform: translate(-180px, 31px);
    }
}
@media (max-width: 1200px) {
    .comission-data-table {
        overflow-y: scroll;
        width: 100%;
    }
    .order_table table th {
        min-width: 100px;
        vertical-align: top;
    }
    .mainorder-detail-sec .col-md-3 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    .col-md-9.dashboard-main {
        flex: 0 0 80%;
        max-width: 80%;
    }
    .col-md-9.statis_datas {
        flex: 0 0 70%;
        max-width: 70%;
        margin-left: 92px;
    }
    table.commission-table th {
        min-width: 158px;
    }
}

@media (max-width: 1024px) {
    .details_price {
        padding-right: 19px;
        text-align: right;
    }
    .col-md-9.statis_datas {
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0;
    }
    .col-md-9.dashboard-main .col-md-3 {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    .DownlineStatic,
    .leftsec {
        width: 100%;
    }
    .col-md-9.dashboard-main {
        flex: 0 0 70%;
        max-width: 70%;
    }
    .mainorder-detail-sec .col-md-3 {
        max-width: 30%;
        flex: 0 0 30%;
    }
    .col-md-9.statis_datas {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .top-head-commission {
        margin: 30px 0;
    }

    .comission-data-table {
        max-width: 1000px;
        overflow: scroll;
        max-height: 350px;
    }
    .col-md-9.dashboard-main .title + .signupform.main-sign-frm input[type="text"] {
        height: 27px;
        padding: 0 10px;
        border: 1px solid #ddd;
        max-width: 82px !important;
    }
    .col-md-9.dashboard-main .title + .signupform.main-sign-frm button {
        padding: 8px 6px;
        font-size: 14px;
    }
    .commission-report-data-table {
        max-width: 1000px;
        overflow: scroll;
        max-height: 350px;
    }

    .current-rank-left {
        width: 86%;
    }
    .Distributor.row {
        width: 100%;
    }
    .Distributor.row svg {
        width: 100%;
    }
    .mainorder-detail-sec {
        padding: 80px 0 85px;
        width: 100%;
        float: left;
    }
    .mainorder-detail-sec .col-md-3 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    .left-side ul li {
        padding: 9px 0 9px 26px;
        font-size: 12px;
    }
    .mainorder-detail-sec .container.order-detail-page h3.title,
    .mainorder-detail-sec h3.title {
        font-size: 19px;
        padding: 10px 15px;
    }
    .mainorder-detail-sec .col-md-9 {
        max-width: 78%;
        flex: 0 0 80%;
    }
    .container.order-detail-page .row {
        padding-bottom: 1px;
        margin-bottom: 1px;
    }
    .mainorder-detail-sec .container.order-detail-page button {
        margin-bottom: 2px;
        margin-top: 2px;
    }
}
@media (max-width: 768px) {
    .details_price {
        padding-right: 19px;
        text-align: right;
    }
    .order_table table th {
        min-width: 93px;
        vertical-align: top;
        vertical-align: top;
    }

    .order_table .commission-table td div {
        display: flex;
    }
    .mainorder-detail-sec .Custom_filter {
        flex: 0 0 100%;
        max-width: 100%;
    }
    form.signupform.main-sign-frm {
        display: block !important;
    }
    .date_range_filter {
        font-size: 9px;
        vertical-align: top;
    }
    .order_id_filter {
        font-size: 9px;
    }
    .signupform span {
        font-size: 9px;
    }
    .mainorder-detail-sec .get_commision {
        float: right;
        text-align: right;
        margin-left: 0;
        margin-top: 9px;
    }
    ul.tabs {
        margin: 60px 0 0 !important;
    }

    .chart-main {
        width: 100% !important;
    }
    canvas {
        width: 451px !important;
    }
    .pro-name {
        font-size: 13px;
    }
    .container.order-detail-page .col-md-2 {
        font-size: 13px;
    }
}
